<div id="abctest_container">			
						
	<div class="abctest_intro">					
		<h3>%QUIZTITLE%</h3>
		%QUIZDESCRIPTION%
	</div>	
	
	<div class="abctest_resumebar">%QUIZSTEPS%</div>

		<div class="abctest_options_intro">						
				
		<b>%QUESTIONNUMBER%.</b>
		
			%QUESTIONTEXT%				
		
	</div>
	
	<div class="abctest_options">
					
		<form name="abctest_confirm" method="post" action="">
					
			<ul>				
				<li><input type="radio" name="voteoption" id="resp_a" value="a" /> a) 
					<label for="resp_a">%A_RESPONSE%</label></li>
				<li><input type="radio" name="voteoption" id="resp_b" value="b" /> b) 
					<label for="resp_b">%B_RESPONSE%</label></li>
				<li><input type="radio" name="voteoption" id="resp_c" value="c" /> c) 
					<label for="resp_c">%C_RESPONSE%</label></li>				
			</ul>	
			
			 [CONTROLS]
						
		</form>

				
	</div>
				
</div><!-- #abctest_container  -->